.site-header {
  background: #FFEAAA;
}

/* REVIEW: Float the main header to the left, to make room for the hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  .icon-menu {
    display: none;
  }
  #articles {
    display: flex;
  }
  article.clearfix {
    padding: 20px;
    width: 33%;
  }
}